body{
    background-color: lightblue;
    font-family: Arial;
}
.titulo{
    background-color: darkblue;
    color: white;
    text-align: center;
    padding: 20px;
}
.parrafo{
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;

}
.razones{
    background-color: rgba(42, 42, 231, 0.699);
    color: white;
    text-align: center;
    padding: 20px;
}
.lista{
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}
#titulo-principal{
    font-size: 40px;
}
.resaltado{
    color: darkred;
    font-weight: bold;
}
.tabla{
    background-color: aqua;
    color: white;
    text-align: center;
    padding: 20px;
}
.pasos{
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.imagen{
    background-color: white;
    margin: 20px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}
img{
    width: 600px;
    height: 450px;
    border-radius: 10px;
}